@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-main {
	background-color: #79a84a;
	padding: 0 25px;
	font-weight: 700;
	color: white;
}

.btn-login {
	background-color: #79a84a;
	padding: 13px 28px;
	font-weight: 700;
	color: white;
}
.btn-login:hover {
	background-color: #91b66d;
}
.drawer a.active {
	color: #79a84a;
	font-weight: 700;
}
